<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutheFilter</filter-name>
        <filter-class>elk.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutheFilter</filter-name>
        <servlet-name>HomepageServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutheFilter</filter-name>
        <servlet-name>AddtocartServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>elk.filter.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>elk.filter.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>elk.filter.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLoginServlet</servlet-name>
        <servlet-class>elk.servlet.NewLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHomepageServlet</servlet-name>
        <servlet-class>elk.servlet.NewHomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>elk.servlet.NewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>elk.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtocartServlet</servlet-name>
        <servlet-class>elk.servlet.AddtocartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowcartServlet</servlet-name>
        <servlet-class>elk.servlet.ShowcartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>elk.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>elk.servlet.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>elk.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>elk.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMoreDetailServlet</servlet-name>
        <servlet-class>elk.servlet.ViewMoreDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>elk.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLoginServlet</servlet-name>
        <url-pattern>/NewLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHomepageServlet</servlet-name>
        <url-pattern>/NewHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/NewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtocartServlet</servlet-name>
        <url-pattern>/Addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowcartServlet</servlet-name>
        <url-pattern>/Showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMoreDetailServlet</servlet-name>
        <url-pattern>/ViewMoreDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
